{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<h1 class="text-center mb-5">Votre panier</h1>

<div id="cartContainer">

{% if items | length > 0 %}
    <table class="table mb-5">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr class='cartLine'>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price | number_format(2, ',', ' ')  }} €</td>
                    <td class='js-qtyContainer'>
                        <a href="{{ path('cart_decrement', {'id':item.product.id, 'showMessage':0}) }}" class="btn btn-primary btn-sm js-removeToCart"><i class="fas fa-minus"></i></a>
                        <span class="qtyItem">{{ item.qty }}</span>
                        <a href="{{ path('cart_add', {'id':item.product.id, 'showMessage':0}) }}" class="btn btn-primary btn-sm js-addToCart"><i class="fas fa-plus"></i></a>
                    </td>
                    <td class="js-amountTotalItem">{{ item.total | number_format(2, ',', ' ')  }} €</td>
                    <td>
                        <a href="{{ path('cart_delete', {"id":item.product.id}) }}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="3">Total :</td>
            <td colspan="2"><span class="amountTotalCart">{{ total | number_format(2, ',', ' ')  }}</span> €</td>
        </tfoot>
    </table>
    
    <br><hr><br>

    {% if app.user %}
    
        <h2 class="text-center mt-2 mb-2">Confirmation de commande</h2>

        {{ form_start(confirmationForm, {"action": path('purchase_confirm')}) }}
        
        {{ form_widget(confirmationForm) }}

        <button type="submit" class="btn btn-primary mx-auto d-block my-3">Valider ma commande</button>
        
        {{ form_end(confirmationForm) }}
    
    {% else %}
        
        <h3>Vous devez être connecté pour valider une commande</h3>
        <a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a>
        ou <a href="#">créer un compte</a>
    
    {% endif %}

</div>

{% else %}
    <div id="cartContainer">
        <h3 class="text-center">Aucun article dans votre panier</h3>
    </div>
{% endif %}

{% endblock %}
