{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    <h1>Nos produits phares</h1>
    <div class="row">
        {% for p in products %}
            <div class="col">
                <div class="card">
                    <img src="{{p.mainPicture}}" alt="Image du produit" class='img-fluid'>
                    <div class="card-body">
                        <h4 class="card-title">{{p.name}} ({{p.price / 100}} &euro;)</h4>
                        <span class="badge badge-danger bg-info mb-3">
                            {{p.category.name}} 
                        </span>
                        <p class="card-text">{{p.shortDescription}}</p>
                        <a href="#" class="btn btn-primary btn-sm">Détails</a>
                        <a href="#" class="btn btn-success btn-sm">Ajouter</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Une équipe à votre service</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vel quaerat non mollitia animi ipsam autem est quibusdam commodi quas!
    </p>

    <div class="row">
        {% include "Shared/_engagement.html.twig" with {
            "color": "primary",
            "icone": "fas fa-truck",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ipsum."
        } %}
        {% include "Shared/_engagement.html.twig" with {
            "color": "success",
            "icone": "fas fa-check",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ipsum."
        } %}
        {% include "Shared/_engagement.html.twig" with {
            "color": "warning",
            "icone": "fas fa-lock",
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ipsum."
        } %}
    </div>
	
{% endblock %}
