{% extends "base.html.twig" %}

{% block title %}
    Catégorie : {{slug}}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{path("homepage")}}">Home</a>
        </li>
        <li class="breadcrumb-item active">{{category.name}}</li>
    </ol>

    <h1>Catégorie : {{category.name}}</h1>
    <a class="btn btn-primary" href="/admin/category/{{ category.id }}/edit">Editer</a>

    <div class="row">
    {% for p in category.products %}
    {% include "Shared/_productCard.html.twig" with {
            "p": p,
            "col": "-3",
            "origine":origine
        } %}
    {% endfor %}
    </div>
{% endblock %}