<div class="col{{col}} productCard">
    <div class="card">
        <img src="{{p.mainPicture}}" alt="Image du produit" class='img-fluid'>
        <div class="card-body">
            <h4 class="card-title">{{p.name}} ({{p.price | amount('€', ',', ' ') }})</h4>
            <span class="badge badge-danger bg-info mb-3">
                {{p.category.name}} 
            </span>
            <p class="card-text">{{p.shortDescription}}</p>
            <a href="{{path("product_show", {
                "category_slug": p.category.slug,
                "slug": p.slug
            })}}" class="btn btn-primary btn-sm">Détails</a>
            <a href="{{ path('cart_add', {"id":p.id}) }}" class="btn btn-success btn-sm js-addToCart">Ajouter</a>
        </div>
    </div>
</div>